.container{
    display:grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-rows: 15vw 15vw 15vw 15vw;
    grid-row: 5px;
}

.swan{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.elephant{
    grid-column-start: 3;
    grid-column-end: 5;
}

.tiger{
    grid-column-start: 5;
    grid-column-end: 6;
}

.lion{
    grid-column-start: 6;
    grid-column-end: 8;
    height:100%;
    width:100%;
}

.wolf{
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 3;
}

.wildboar{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.bird{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 5;
}

.gorilla{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
}

.doe{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

.bear{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
}

.giraffe{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
}

.lizard{
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
}

img{
    height:100%;
    width:100%;  
    background-size:cover;
    background-position: center;
}